* {
    box-sizing: border-box;
}

body {
    background-color: green;
    color: white;
}

.duck {
    text-align: center;
    width: auto
}

.duck__img {
    border: 45px solid black;
    width: auto;
    max-width: 100%;
    height: max-content
}