:root {
  --w-mobile: 375px;
  --w-desktop: 500px;

  --clr-pry-very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --clr-pry-soft-red: hsl(14, 88%, 65%);

  --clr-bg-gradient-start: hsl(273, 75%, 66%);
  --clr-bg-gradient-end: hsl(240, 73%, 65%);

  --clr-txt-very-dark-grayish-blue: hsl(237, 12%, 33%);
  --clr-txt-dark-grayish-blue: hsl(240, 6%, 50%);

  --clr-dividers: hsl(240, 5%, 91%);

  --ff-standard: 'Kumbh Sans', sans-serif;
  --fw-standard: 400;
  --fw-bold: 700;
}