p {
  font-size: 14px;
}

body {
  height: auto;
  min-height: 100vh;
}

main {
  background-color: var(--clr-primary-cream);
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  padding: 1rem;
  min-height: 100vh;
}

:root {
  --clr-primary-dark-cyan: hsl(158, 36%, 37%);
  --clr-primary-darker-cyan: hsl(158, 38%, 15%);
  --clr-primary-cream: hsl(30, 38%, 92%);
  --clr-neutral-dark-blue: hsl(212, 21%, 14%);
  --clr-neutral-grayish-blue: hsl(228, 12%, 48%);
  --clr-neutral-white: hsl(0, 0%, 100%);

  --ff-montserrat: 'Montserrat', sans-serif;
  --ff-fraunces: 'Fraunces', serif;

  --fw-standard: 500;
  --fw-bold: 700
}

.product-card {
  background-color: var(--clr-neutral-white);
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.product-card__preview-image-mobile {
  display: none;
}

.product-card__content {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 1rem;
  max-width: 50%;
}

@media screen and (max-width: 630px) {
  .product-card {
    flex-direction: column;
  }

  .product-card__content {
    max-width: 100%;
  }

  .product-card__preview-image-mobile {
    display: block
  }

  .product-card__preview-image-desktop {
    display: none
  }
}

.product-card__preview-image-desktop {
  width: 50%;
  height: auto;
}

.product-card__type {
  color: var(--clr-neutral-grayish-blue);
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-family: var(--ff-montserrat);
  font-weight: var(--fw-regular);
  font-size: 0.8em;
}

.product-card__header {
  font-family: var(--ff-fraunces);
  font-weight: var(--fw-bold);
  font-size: 32px;
  line-height: 2rem;
}

.product-card__description {
  color: var(--clr-neutral-grayish-blue);
  font-family: var(--ff-montserrat);
  font-weight: var(--fw-regular);
}

.product-card__prices {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.product-card__discounted-price {
  color: var(--clr-primary-dark-cyan);
  font-size: 32px;
  font-family: var(--ff-fraunces);
  font-weight: var(--fw-bold);
}

.product-card__original-price {
  color: var(--clr-neutral-grayish-blue);
  font-family: var(--ff-montserrat);
  font-weight: var(--fw-regular);
  font-size: 0.8rem;
}

.product-card__cart {
  background-color: var(--clr-primary-dark-cyan);
  border: 0;
  border-radius: 10px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.product-card__cart:hover {
  background-color: var(--clr-primary-darker-cyan);
  cursor: pointer;
}

.product-card__cart__text {
  color: var(--clr-neutral-white);
  font-family: var(--ff-montserrat);
  font-weight: var(--fw-regular);
}