@import "../vars.css";

.faq-card {
  background-color: white;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 1rem;
  padding-top: 120px;
  padding-bottom: 3rem;
  box-shadow: 0px 40px 50px -25px rgba(53, 53, 53, 0.6);
  max-width: 800px;
  width: 100%;
  height: min-content;
}

.container {
  width: 100%;
}

.faq-card__content {
  width: 100%;
}

.faq-card__image {
  --drop-shadow: 0px 30px 0px hsl(240, 67%, 96%);
  position: absolute;
  top: 0%;
  width: 75%;
  max-width: 300px;
  -webkit-filter: drop-shadow(var(--drop-shadow));
  filter: drop-shadow(var(--drop-shadow));
  transform: translateY(-60%);
}

.faq-card__header {
  text-align: center;
  font-weight: var(--fw-bold);
  font-size: 2rem;
  /* line-height: 1rem; */
}

.faq-card__accordion-menu {
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media (min-width: 650px) {
  .faq-card {
    flex-direction: row;
    padding-top: 3rem;
    overflow: hidden;
    max-width: 900px;
  }

  .faq-card__image {
    position: static;
    width: 100%;
    transform: unset;
    max-width: fit-content;
  }

  .faq-card__header {
    text-align: left;
  }

  .faq-card__image-extra {
    display: inline;
    position: absolute;
    transform: translateX(-50%);
    width: 25%;
    top: 35%;
    align-self: center;
  }

  .desktop-images {
    overflow: visible;
    width: 100%;
    position: relative;
    height: 100%;
    transform: translateX(-20%);
  }

  .container {
    position: relative;
  }
}